.profile-cource__header {
  margin-bottom: 24px;
}

.profile-cource__title {
  font-size: 24px;
  color: var(--heading-color);
  font-weight: 500;
  text-transform: uppercase;
}

.profile-cource__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 320px));
  grid-gap: 24px;
}

.profile-cource__list-item {
  text-align: center;
  border-radius: var(--border-base);
  box-shadow: 0 0 10px 2px var(--primary-box-shadow);
}

.profile-cource__list-image {
  background-color: rgba(58, 53, 65, 0.04);
}

.profile-cource__list-image img {
  display: inline-block;
}