.logo {

}

.logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.logo__text {
  font-size: 20px;
  color: rgba(58, 53, 65, .87);
  font-weight: 700;
}