.auth {
  padding-top: 100px;
}

.auth__wrapper {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  border-radius: var(--border-base);
  padding: 45px 25px 35px;
  box-shadow: 0 0 10px 0 var(--primary-box-shadow);
}

.auth__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.auth__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--heading-color);
  margin: 0;
}

.auth-form .button {
  width: 100%;
}

.auth-form__header {
  margin-bottom: 25px;
}

.auth-form__title {
  font-size: 20px;
  font-weight: 500;
  color: var(--heading-color);
  margin: 0;
  margin-bottom: 10px;
}

.auth-form__body {
  margin-bottom: 20px;
}

.auth-form__main {
  margin-bottom: 20px;
}

.auth-form__help {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.auth-form__error {
  padding: 10px 0;
  color: var(--danger-color);
}

.auth-form__error + .auth-form__error {
  padding-top: 0;
}

.auth-form__link {
  color:var(--link-color);
}

.auth-form__link:hover {
  text-decoration: underline;
}

.auth-form___footer {
  text-align: center;
}