.profile-nav {

}

.profile-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-end: 20px;
}

.profile-nav__list-item {
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 0 20px 20px 0;
  transition: background-color .2s ease;
}

.profile-nav__list-item + .profile-nav__list-item {
  margin-top: 5px;
}

.profile-nav__list-item:hover,
.profile-nav__list-item.active {
  background-color: rgba(58, 53, 65, .04);
}